.styledBorderCorner {
    border-radius: 1em;
    overflow: hidden;
}

.tradesGridStyle {
    border-radius: 1em;
    overflow: hidden;
    font-size: small;
}

.italicText {
    font-style: italic;
    margin-left: 30px;
    margin-bottom: 3px;

}

.labelTradesStyle {
    padding-left: 10px;
}

.italicFont {
    font-style: italic;
}

.italicBoldFont {
    font-style: italic;
    font-weight: bolder;
}